body{
    background-image:url(https://img.freepik.com/free-vector/rectangular-boho-style-border-with-leaves-feathers_53876-99937.jpg?t=st=1713059699~exp=1713063299~hmac=5305a56b39a007ce40f6ebbbb0de6dabd10e61908461c3159ccf9ab78272e64d&w=2400);
    width: 100%;
    height: 100vh;
    margin: 0;
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(70, 26, 112, 0.452);
    font-size: xx-large;
}
p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(159, 139, 179);
    font-style: italic;
    font-size: 18px;
  
}
form{
    background-color: rgba(226, 208, 241, 0.459);
    border-radius: 1rem;
    width: 60vw;
    max-width: 500px;
    min-width:500px;
    margin: 0 auto;
    padding-bottom: 3em;
 }

 #dropdown{   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 30.5rem;
    height: 1.8rem;
    padding-top:0.2rem;
    display: block;
    margin:auto;
}

#name, #email, #age {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 30rem;
    height: 1.2rem;
    padding-top:0.2rem;
    display: block;
    margin:auto;
}
label{
    color: rgb(81, 70, 92);
    font-size: medium;
    padding-left:2% ;
}
div{
 text-align: center;
}
label[for="radio"]{
    font-size: 17px;
}

label[for="checkbox"], Input[type="checkbox"]{
   font-size: 1.1rem;
   accent-color: rgb(202, 149, 202);
}
textarea{
   height: 8rem;
   width: 29rem;
   display: block;
   margin: auto;
}
button{
    color: rgb(136, 107, 132);
   margin-left: 3%;